<div class="room-container">
  <div class="room-detail-pic">
  {{#each oneRoomData}}
  {{#each imageUrl}}
  
    <img class="mySlides" src="{{this}}" alt="room-image">
   
  {{/each}}
  {{/each}}
   </div>
  
  <div class="w3-button">
  <button class="w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
  </div>
</div>

<div class="roomDetail">
  <h1 >{{oneRoomData.title}}</h1>
  <h2 >{{oneRoomData.rent}} €&nbsp;/night&nbsp;&nbsp;&nbsp;&nbsp;availible from {{oneRoomData.formatStartDate}} to {{oneRoomData.formatEndDate}}</h2>
  <h3 >{{oneRoomData.sqr}} squaremeter</h3>
  <h3>{{oneRoomData.street}}, {{oneRoomData.postalCode}}, {{oneRoomData.city}}</h3>
  <h3>{{oneRoomData.description}}</h3>

  <div class="contact-owner">
  <h3 >Owner&nbsp;:&nbsp;&nbsp;{{oneRoomData.owner.firstName}} {{oneRoomData.owner.lastName}}&nbsp;&nbsp;</h3>
  <h3> <a href="mailto:{{oneRoomData.owner.email}}">Contact landlord</a></h3>
  </div>
</div>

 <h3><a class="back-link" href="/all-rooms">Back to search rooms</a></h3>
  
