<div class="room-container">
  {{#each oneRoomData}}
  {{#each imageUrl}}
  <img class="mySlides" src="{{this}}" alt="room-image" width="700">
  {{/each}}
  {{/each}}
  <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
  <h2 class="roomDetail">Title: {{oneRoomData.title}}</h2>
  <h2 class="roomDetail">Rent: {{oneRoomData.rent}} € /night</h2>
  <h2 class="roomDetail">Squaremeter: {{oneRoomData.sqr}}</h2>

  <h2 class="roomDetail">Period: {{oneRoomData.formatStartDate}} - {{oneRoomData.formatEndDate}}</h2>
  <h2 class="roomDetail">Address: {{oneRoomData.street}}, {{oneRoomData.postalCode}}, {{oneRoomData.city}}</h2>

  <h2 class="roomDetail">Description: {{oneRoomData.description}}</h2>
  <h2 class="roomDetail">Owner: {{oneRoomData.owner.firstName}} {{oneRoomData.owner.lastName}}</h2>

  <a href="mailto:{{oneRoomData.owner.email}}">Contact the landlord</a>
  <a href="/all-rooms">Back to search rooms</a>
</div>