<div class="room-container">
  {{#each oneRoomData}}
  {{#each imageUrl}}
  <div class="room-detail-pic">
    <img class="mySlides" src="{{this}}" alt="room-image" width="700">
  </div>
  {{/each}}
  {{/each}}
  <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
  <h2 class="roomDetail">{{oneRoomData.title}}</h2>
  <h3 class="roomDetail">{{oneRoomData.rent}} € /night</h3>
  <p class="roomDetail">{{oneRoomData.sqr}} sqm</p>

  <p class="roomDetail">{{oneRoomData.formatStartDate}} - {{oneRoomData.formatEndDate}}</p>
  <h2 class="roomDetail">{{oneRoomData.street}}, {{oneRoomData.postalCode}}, {{oneRoomData.city}}</h2>

  <p class="roomDetail">Description: <br>{{oneRoomData.description}}</p>
  <p class="roomDetail">Owner: <br>{{oneRoomData.owner.firstName}} {{oneRoomData.owner.lastName}}</p>

  <a href="mailto:{{oneRoomData.owner.email}}">Contact landlord</a>
  <a href="/all-rooms">Back to search rooms</a>
</div>