<div class="room-container">
  {{#each oneRoomData}}
  {{#each imageUrl}}
  <div class="imgContainer">
    <img class="titleimg" src="{{this}}" alt="room-image" width="200">
  </div>
  {{/each}}
  {{/each}}


  <h2 class="roomTitle">{{oneRoomData.title}}</h2>
  <h3 class="roomRent">{{oneRoomData.rent}} € / per night</h3>
  <p>Period: {{oneRoomData.startDate}} - {{oneRoomData.endDate}}</p>
  <div class="address">
    <h4>{{oneRoomData.street}}, {{oneRoomData.postalCode}}</h4>
    <h4>{{oneRoomData.district}}</h4>
    <h2>{{oneRoomData.city}}</h2>
  </div>
  <p>Description: <br><strong></strong>{{oneRoomData.description}}</p>

  <a href="/add-room">Add one more room</a>
</div>