<div class="room-container">
  {{#each oneRoomData}}
  {{#each imageUrl}}
    <img class="mySlides" src="{{this}}" alt="room-image" width="700">
  {{/each}}
  {{/each}}
  <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
  <h2 class="roomTitle">{{oneRoomData.title}}</h2>
  <h2 class="roomRent">{{oneRoomData.rent}} € / per night</h2>
  <p>{{oneRoomData.formatStartDate}} - {{oneRoomData.formatEndDate}}</p>
  <h3>{{oneRoomData.street}}, {{oneRoomData.postalCode}}</h3>
  <h3>{{oneRoomData.district}}</h3>
  <h3>{{oneRoomData.city}}</h3>
  <p><strong>Description:</strong><br>{{oneRoomData.description}}</p>


  <h4>owner: {{oneRoomData.owner.firstName}} {{oneRoomData.owner.lastName}}</h4>
  {{!-- <a href="/profile">See the landlord's profile</a> --}}
  <a href="mailto:{{oneRoomData.owner.email}}">Contact the landlord</a>
</div>

