 {{!--  <div class="navbar">
    <p>LOGO</p>
  </div> --}}
  <div class="container-index">
    <h1>All rooms</h1>
    <div class="results">
      {{#each roomsFromDb}}
      <div class="room-tile">
        <div class="thumbnail-parent">
          <img src="{{imageUrl}}" class="thumbnail">
        </div>
        <div class="room-facts">
          <a href="/" class="room-title">{{title}}</a>
          <h2 class="room-rent">{{rent}} €</h2>
          <p class="room-sqm">{{sqr}} sqm</p>
          <div class="period">
          <p>{{startDate}}</p>
          <p>{{endDate}}</p>
      </div>
        </div>
{{!--       <div class="address">
        <p>{{street}}</p>
        <p>{{district}}</p>
        <p>{{postalCode}}</p>
      </div> --}}
      </div>
      {{/each}}
    </div>
  </div>
