 {{!--  <div class="navbar">
    <p>LOGO</p>
  </div> --}}{{#each seeRoomsByCity}}
  <div class="container-index">
    <h1>All rooms in {{city}} </h1>
    <div class="results">
      
      <div class="room-tile">
        <div class="thumbnail-parent">
          <img src="{{imageUrl}}" class="thumbnail">
        </div>
      <a href="/" class="room-title">{{title}}</a>
      <h2>{{rent}} €</h2>
      <p>{{sqr}} sqm</p>
      <div class="period">
        <p>{{startDate}}</p>
        <p>{{endDate}}</p>
      </div>
      <a href="/">Edit</a>
{{!--       <div class="address">
        <p>{{street}}</p>
        <p>{{district}}</p>
        <p>{{postalCode}}</p>
      </div> --}}
      </div>
      {{/each}}
    </div>
  </div>
