<head>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>

<h1>Add Your Profile</h1>

<form action="/add-profile" method="GET">


    <label for="birthday">Birthday: </label>
    <br>
    <input type="date" name="birthday">

    <br>
    {{!-- <label for="gender">gender:</label>
    <select id="select-gender">
        <option value="{{detailProfile._id}}">{{detailProfile.gender}}</option>
        <option value="{{detailProfile._id}}">{{detailProfile.gender}}</option>
        <option value="{{detailProfile._id}}">{{detailProfile.gender}}</option>
    </select> --}}

    <label for="city">City: </label>
    <input type="text" name="city">

    <label for="phoneNumber">Phone number: </label>
    <br>
    <input type="tel" name="phoneNumber">


    <button type="submit" class="btn-submit">Sign up</button>
    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    {{/if}}
</form>

<h3>By filling the profile could let the landlord/tenant know more about you, but of course you could also <a
        href="#">skip it</a> </h3>